<h1>Dashboard</h1>
{{#if hasErrors}}
    <div class="alert alert-danger">
        {{# each messages }}
            <p>{{ this }}</p>
        {{/each}}
    </div> 
{{/if}}
<a href="/challenge/create-challenge">Create Challenge</a>
{{#each challenges}}
<h3>
    {{this.name}}
</h3>
{{/each}}

