/* https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.1337923674817531,0.4264312031450381,0.5,0.545091855682451,0.908611831416982,1,0.2675847349635062,0.8528624062900761,1,0.20531877066100646,0.44080040508950713,0.5,0.21406778797080497,0.682289925032061,0.8&swatchOrder=0,1,2,3,4 */

@font-face {
  font-family: 'Krinkes';
  src: url('/fonts/KrinkesRegularPERSONAL.ttf'); 
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #4f4f4f;
}

a {
  color: #BB6BD9;

}

a:hover{
  color: #7B26C9;
}


h1, h2, h3 {
  font-weight: 700;
}

.spaced-title {
  margin-bottom: 20px;
  display: block;
}

h3 { 
  font-size: 18px;
}

#main-container{
  padding-top: 50px;
  padding-bottom: 200px;
  min-height: 600px;
}

.header-underline{
  margin-top: 0px;
  margin-bottom: 15px;
}


/* challenge detail page styles */
#challenge-detail-links{
  margin-bottom: 10px;
}

#challenge-detail-links a{
  padding-right: 10px;
}

#add-progress-container {
  margin-bottom: 40px
}

#add-progress-form {
  display: none;
}

#challenge-detail-block{
  margin-bottom: 40px;
}

.x-remove-link {
  color: #EB5757
}

.x-remove-link:hover {
  color: #B54545
}

.x-remove-link:active {
  color: #B54545
}

.x-remove-link:focus {
  color: #B54545
}

#challenge-detail-table-header {
  background-color: #E4D5F2;
}

table {
  font-size: 12px;
}


/* Dashboard styling */
.dashboard-challenge-card{
  border: 1px solid #BDBDBD;
  min-width: 252px;
  max-width: 252px;
  min-height: 350px;
  margin-bottom: 50px;
  -webkit-box-shadow: 3px 5px 4px 2px #DDDDDD;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 5px 4px 2px #DDDDDD;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 5px 4px 2px #DDDDDD;
}

.dashboard-challenge-card-text{
  padding: 10px 20px 10px 20px;
}

.dashboard-challenge-card-text h3 a{
  color: #4F4F4F;
}

.dashboard-challenge-card-text h3{
  margin-top: 0;
}

.dashboard-challenge-card-text hr{
  margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
}

#dashboard-header-row {
  margin-bottom: 50px;
}

#create-challenge-link{
  float: right;
  margin-top: 10px;
  color: #219653;
  font-size: 16px;
}

h1 {
  display: inline;
}

.dashboard-nochallenge-text{
  background-color: #E0E0E0;
  text-align: center;
  padding: 50px;
  border-radius: 15px;
  color: #8A8A8A;
  font-weight: 700;
  line-height: 250%; 
}

/* Homepage styling */
#homepage-body{
  background: url("/images/background-bikes-dark.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #4F4F4F;
  margin-top: -70px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -200px;
  height:800px;
}

#homepage-title{
  font-family: 'Krinkes', 'Nunito Sans', sans-serif;
  font-size: 80px;
  text-align: center;
  margin-top: 135px;
  color: #F2F2F2;
  line-height: 80%;
}

#homepage-subtitle{
  font-size: 25px;
  text-align: center;
  color: #F2F2F2;
}

#homepage-button{
  width: 150px;
  height: 50px;
  display: block;
  margin: 30px auto;
  font-size: 18px;
}
#homepage-button.btn, #homepage-button.btn-primary {
  background-color: #AA68E8;
  border: 0;
  border-radius: 0;
}
#homepage-button.btn:active, #homepage-button.btn-primary:active {
  background-color: #7B26C9;

}
#homepage-button.btn:hover, #homepage-button.btn-primary:hover {
  background-color: #7B26C9;

}
#homepage-button.btn:focus, #homepage-button.btn-primary:focus {
  background-color: #7B26C9;

}

/* form and buttom styling */
.form-control:focus{
  border-color: #00B3BB; 
  box-shadow: 0 0 8px #34707F; 
  -webkit-box-shadow: 0 0 8px #34707F;
  box-shadow: 0 0 8px #34707F;
} 
.btn, .btn-primary {
  background-color: #9131EB;
  border: 0;
  border-radius: 0;
}
.btn:active, .btn-primary:active {
  background-color: #7B26C9;

}
.btn:hover, .btn-primary:hover {
  background-color: #7B26C9;

}
.btn:focus, .btn-primary:focus {
  background-color: #7B26C9;

}

/* footer styles */
#footer{
  height: 200px;
  background-color: #4A4A4A;
}

@media (max-width: 767px) {
  #main-container{
    padding-top: 15px
  }
}



