<h1>Discover</h1>
{{#if hasErrors}}
    <div class="alert alert-danger">
        {{#each messages}}
            <p>{{ this}}</p>
        {{/each}}
    </div> 
{{/if}}
{{#each challenges}}
    <h3>
        {{this.name}}
    </h3>
    <p>{{this.description}}</p>
{{/each}}

